<header>
  <div class="logo">
    <%= link_to "熱闘甲子園", root_path %>
  </div>

  <div class="pc-menu">
    <nav>
    <ul>
      <li>
        <%= link_to "募集", new_post_path %>
      </li>
      <li>
        <%= link_to "メッセージ", "#" %>
      </li> 
      <li>
        <%= link_to current_user.name, "/users/#{current_user.id}" %>
      </li>
    </ul>
  </nav>
  </div>

  <div class="sp-menu">
    <span class="material-icons" id="open">menu</span>
  </div>
</header>

<div class="overlay">
  <span class="material-icons" id="close">close</span>
  <nav>
    <ul>
      <li>
        <%= link_to "投稿", "#" %>
      </li>
      <li>
        <%= link_to "メッセージ", "#" %>
      </li> 
      <li>
        <%= link_to "プロフィール", "#" %>
      </li>
    </ul>
  </nav>
</div>

